# JAVA
*.class
*.war
*.ear
.classpath
.project
.settings
target

# JS
npm-debug.*
node_modules
bower_components
public
dist
bin
*.bundle.js

# UNITY3D
Temp
Library
ProjectSettings
builds
obj
*.meta
*.log
*.sln
*.userprefs
*.csproj
*.pdb
*_Data
*.suo
*.exe
*.apk
