# JAVA
*.class
*.war
*.ear
target

# JAVA : ECLIPSE
.classpath
.project
.settings
bin

# JAVA : INTELLIJ
.idea
*.iml

# JAVASCRIPT
npm-debug.*
node_modules
bower_components
public
dist
bin
*.bundle.js

# UNITY3D
Library
ProjectSettings
obj
*.meta
*.log
*.userprefs
*.csproj
*.pdb
*_Data
*.suo
*.exe

# VISUALSTUDIO
Temp
*.sln

# ANDROID
*.apk

# CUSTOM
builds
