<style type="text/css">
body .shadowed {
  background: url("img/bg-page-meca.png") no-repeat scroll 0 170px white;
}
</style>
<div class="columns">
  <div class="row">
    <div class="large-9 columns">
      <h3 id="groupeDashboardTitle" class="ng-binding" ng-show="groupe">Groupe {{groupe.raisonSociale}}</h3>
      <h3 id="compteDashboardTitle" class="ng-binding" ng-show="compte">Compte {{compte.raisonSociale}}</h3>
    </div>
    <div ng-include src="yearSelect"></div>
  </div>
</div>
<div class="row">
  <div class="large-offset-1 large-4 columns panel radius text-center" ng-show="fleetSize">
    <div id="fleetSize" class="dashboardBigNumber" class="ng-binding">{{fleetSize.data}}</div>
    <div>
      <ng-pluralize count="fleetSize.data" when="{0:'véhicule géré', one:'véhicule géré', other:'véhicules gérés'}" />
    </div>
  </div>
  <div class="large-offset-2 large-4 columns left panel radius text-center" ng-show="caTotal">
    <div id="caTotal" class="dashboardBigNumber" class="ng-binding">{{caTotal | caCurrency}}</div>
    <div>CA HT total</div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-center">
    <h4 id="compteFamilleCATitle">Conso HT cumulée par produit {{year}}</h4>
    <div id="familleCAChart"></div>
    <div ng-show="familles.length == 0">Pas de données</div>
    <div class="chartloading" ng-hide="familles || familles.length == 0">
      <i class="icon-refresh icon-spin"></i>Chargement des données en cours...
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-center">
    <h4 id="compteMonthCATitle">Conso HT mois/mois {{year}}</h4>
    <div id="monthCAChart"></div>
  </div>
</div>
