<h3>Bienvenue sur SpeedyFleet</h3>
<div ng-show="loggedUser.utilisateur.email != null">
  <p>
    Vous êtes actuellement connecté en tant que <strong>{{loggedUser.utilisateur.prenom}}
      {{loggedUser.utilisateur.nom}}</strong> du compte de regroupement <strong>{{loggedUser.utilisateur.contratRaisonSociale}}<strong>.
  </p>
  <p>Utilisez le menu sur votre gauche pour accéder à vos fonctionnalités.</p>
</div>
<div ng-show="loggedUser.utilisateur.email == null">
  <p>Vous êtes actuellement déconnecté.</p>
</div>
